@page
@model RazorPizza.Pages.pizzaModel
@{
}
@*THis will be our sales page . where we show all our pizzas where customer can order*@

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Our Great Selection of Pizzas !</h1>
        <h4>Choose one , or try our pizza builder! Then Order and done!</h4>
        <h4>No Need to give any info</h4>
        <h4>We already know everything !</h4>

        <p class="smallText"><i>Only 1 pizza per order</i></p>

        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 mt-5">
                    <div class="w-100 row makeYourOwnDiv" style="border-radius:20px;">
                        <div class="col-4">
                            <img src="~/images/Pizzas/Create.png" class="w-100"/>
                        </div>
                        <div class="col-8 align-items-center">
                            <div class="align-middle makeYourOwnText">
                                <h3 style="text-align:left;">Create Your own Pizza</h3>
                                <p style="text-align:left;"> Make Your Pizza with our pizzaMaker</p>
                                <a class="btn btn-primary" style="float:left" asp-area="" asp-page="Forms/customPizza">Create !!!</a>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach(var pizza in Model.fakePizzaDB)
                {
                    var ImagePath = "~/images/Pizzas/" + (pizza.ImageTitle) + ".png";
                    <div class="col-4 mb-5">
                        
                        <a class="pizza-img" mt-1" asp-area="" asp-page="Checkout/checkout" 
                            asp-route-ImageTitle="@pizza.ImageTitle"
                            asp-route-PizzaPrice="@pizza.FinalPrice"
                            asp-route-PizzaName="@pizza.PizzaName">
                            <img src ="@ImagePath" class="w-100" asp-append-version="true" />
                        </a>
                        <br />
                    </div> 
                }
            </div>
        </div>
    </div>
</div>